body {
    overflow: hidden;
}

.navItem {
    text-decoration: none;
    color: white;
}

.profileRecipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100vh;
}

.profileRecipesOverlay {
    display: none;
}

.profileRecipeCard {
    width: 350px;
    height: 500px;
    margin: 5px;
}

.profileRecipeCardHeader {
    height:100px;
}
.recipesDiv {
    margin:auto;
}

.recipeCardContainer {
    position: relative;
}

.recipeCard {
    margin-left:auto;
    margin-right: auto;
    left:0;
    right:0;
    max-width: 500px;
    position:absolute;
    height: 600px;
}

.recipeCardButtons {
    align-items: center;
    display: flex;
    justify-content: center;
}

.overlay-bg {
    background-color: rgb(0,0,0,0.5);
    width:100%;    
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    height:1000px;
}

.overlay-card {
    margin-left:auto;
    margin-right: auto;
    left:0;
    right:0;
    overflow: auto;
    height:500px;
    width: 600px;
    pointer-events:all;
    position:fixed;
}

.overlay-scrollable {
    max-height: 450px;
    overflow-y: scroll;
}

.no-drag {
    pointer-events:none;
}

.formContainer {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.formContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.formItem {
    margin:5px;
}
