body {
    overflow: hidden;
}

.navItem {
    text-decoration: none;
    color: white;
}

.recipesDiv {
    margin:auto;
}

.recipeCard {
    margin-left:auto;
    margin-right: auto;
    left:0;
    right:0;
    max-width: 500px;
    position:absolute;
}

.recipeCardButtons {
    display: flex;
    justify-content: space-between;
}

.formContainer {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.formContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.formItem {
    margin:5px;
}
